<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{'FAVORITE_PAGE.PAGE_TITLE' | translate}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let movie of favorites.movies" col-4 class="col-movie">
        <button ion-button class="movie-img-btn" margin-vertical (click)="getMovieDetails(movie.imdb_id)">
          <img src="{{movie.images.poster}}?{{timestamp}}" alt="" onerror="this.src='assets/imgs/not-found-w500.png'">
        </button>
        <span text-wrap>
          <strong>{{movie.title}}</strong>
          <br>
          <small>{{movie.year}}</small>
        </span>
      </ion-col>
      <ion-col *ngFor="let show of favorites.shows" col-4 class="col-show">
        <button ion-button class="show-img-btn" margin-vertical (click)="getTvShowDetails(show.imdb_id)">
          <img src="{{show.images.poster}}?{{timestamp}}" alt="" onerror="this.src='assets/imgs/not-found-w500.png'">
        </button>
        <span text-wrap>
          <strong>{{show.title}}</strong>
          <br>
          <small>{{show.year}}</small>
        </span>
      </ion-col>
      <ion-col *ngFor="let anime of favorites.animes" col-4 class="col-anime">
        <button ion-button class="anime-img-btn" margin-vertical (click)="getAnimeDetails(anime._id)">
          <img src="https://media.kitsu.io/anime/poster_images/{{anime._id}}/small.jpg?{{timestamp}}" alt="" onerror="this.src='assets/imgs/not-found-w500.png'">
        </button>
        <span text-wrap>
          <strong>{{anime.title}}</strong>
          <br>
          <small>{{anime.year}}</small>
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
