<div class="{{theme}} modal-alert">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        {{'FILTER.TITLE' | translate}}
      </ion-title>
      <ion-buttons end margin-right>
        <button ion-button (click)="dismiss()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item>
      <ion-label>
        {{'GENRE' | translate}}
      </ion-label>
      <ion-select #filterGenre [(ngModel)]="search.genre">
        <ion-option *ngFor="let gen of filter.genre" [value]="gen.value" translate>
          {{gen.title}}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>
        {{'SORT' | translate}}
      </ion-label>
      <ion-select #filterSort [(ngModel)]="search.sort">
        <ion-option *ngFor="let gen of filter.sort" [value]="gen.value" translate>
          {{gen.title}}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>
        {{'ORDER' | translate}}
      </ion-label>
      <ion-select #filterOrder [(ngModel)]="search.order">
        <ion-option *ngFor="let gen of filter.order" [value]="gen.value" [selected]="gen.value == '1'" translate>
          {{gen.title}}
        </ion-option>
      </ion-select>
    </ion-item>
    <br>
    <div style="padding-left: 10px;">
      <ion-row>
        <ion-col col-6>
          <button block ion-button class="button-theme" (click)="resetFilters()">
            {{'FILTER.DEFAULT' | translate}}
          </button>
        </ion-col>
        <ion-col col-6>
          <button block ion-button class="button-theme" (click)="applyFilters()">
            {{'FILTER.APPLY' | translate}}
          </button>
        </ion-col>
      </ion-row>
    </div>
  </ion-content>
</div>
