<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{'ANIMES_PAGE.PAGE_TITLE' | translate}}
    </ion-title>
    <ion-buttons end margin-right>
      <button ion-button icon-only (click)="toogleSearch()">
        <ion-icon [name]="searchbar ? 'close' : 'search'"></ion-icon>
      </button>
      <button ion-button icon-only (click)="filterAnime()">
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar *ngIf="searchbar">
    <ion-searchbar (ionInput)="filterByKeyword($event)" placeholder="{{ 'SEARCH_BY_KW' | translate}}"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let anime of animes" col-4 class="col-anime">
        <button ion-button class="anime-img-btn" margin-vertical (click)="getAnimeDetails(anime._id)">
          <img src="https://media.kitsu.io/anime/poster_images/{{anime._id}}/small.jpg?{{timestamp}}" alt="" onerror="this.src='assets/imgs/not-found-w500.png'">
        </button>
        <span text-wrap>
          <strong>{{anime.title}}</strong>
          <br>
          <small>{{anime.year}}</small>
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>