.fanart {
    position: relative;
}

.fanart button {
    right: 10px;
    bottom: -15%;
    position: absolute;
}

.movie-trailer {
    top: 25%;
    width: 100%;
    position: absolute;
}

.btn-cancel-download {
    color: color($colors, 'danger') !important;
}
.btn-share-image {
    color: color($colors, 'primary') !important;
}
