.fanart {
    position: relative;
}

.fanart button {
    position: absolute;
    bottom: -15%;
    right: 10px;
}

.movie-trailer {
    width: 100%;
    position: absolute;
    top: 25%;
}

.btn-cancel-download {
    color: color($colors, 'danger') !important;
}
