<ion-header>
  <ion-navbar>
    <ion-buttons end margin-right>
      <button ion-button icon-only (click)="toggleFavorite(tvshow)">
        <ion-icon name="{{favorite ? 'star' : 'star-outline'}}" color="{{favorite ? 'sunny' : ''}}"></ion-icon>
      </button>
      <button ion-button icon-only (click)="shareItem(tvshow)">
        <ion-icon name="share"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="fanart">
    <img src="{{tvshow.images.fanart}}?{{timestamp}}" alt="" onerror="this.src='assets/imgs/img404.png'">
    <button ion-fab mini class="button-theme" (click)="downloadImage(tvshow.images.fanart)">
      <ion-icon name="images"></ion-icon>
    </button>
  </div>
  <ion-grid padding>
    <ion-row>
      <ion-col class="item-detail-title">
        <h1 text-wrap>{{tvshow.title}}</h1>
        <span>
          {{tvshow.year}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{tvshow.runtime + ' min'}}
        </span>
        <br>
        <br>
        <span *ngFor="let gen of tvshow.genres" text-capitalize>
          {{formatGenre(gen, tvshow.genres)}}
        </span>
        <br>
        <br>
        <span>
          {{formatExtraInfo(tvshow)}}
        </span>
        <br>
        <br>
        <div class="rating">
          <ion-icon [name]="star.one" class="icon-theme"></ion-icon>
          <ion-icon [name]="star.two" class="icon-theme"></ion-icon>
          <ion-icon [name]="star.three" class="icon-theme"></ion-icon>
          <ion-icon [name]="star.four" class="icon-theme"></ion-icon>
          <ion-icon [name]="star.five" class="icon-theme"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p text-wrap>
          {{tvshow.synopsis}}
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <episodes *ngFor="let episode of episodes" [episode]="episode"></episodes>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>