.dark-theme {
  ion-content {
    background-color: #2b2b2b;
    color: #fff;
  }

  ion-item-divider {
    background-color: #2b2b2b;
    color: #fff;
  }

  ion-list .item {
    background-color: #2b2b2b;
    color: white;
  }

  ion-card {
    background: rgb(15, 15, 15);
  }

  small {
    color: darkgray;
  }

  .icon-theme {
    color: darkgray;
  }

  .button-theme {
    background-color: color($colors, 'light');
    color: #424242;
  }
  .button-theme.activated {
    background-color: color($colors, 'light');
  }

  .item-select {
    background-color: #2b2b2b;
    color: white;
  }
  
  .toolbar-title {
    color: #fff;
  }
  
  .toolbar-background {
    background-color: color($colors, 'dark');
  }

  .toolbar button {
    color: white;
  }

  .bar-button-menutoggle {
    color: white;
  }

  .dark-selected {
    box-shadow: 0 0 8px 1px rgb(0, 140, 255); 
  }

  .about-item {
    background-color: #2b2b2b;
    color: #fff;
  }

  .item-detail-title span{
    color: darkgray;
  }
}