.red-theme {
  .toolbar-title {
    color: white;
  }
  
  .toolbar-background {
    background-color: color($colors, 'danger');
  }

  .toolbar button {
    color: white;
  }

  .bar-button-menutoggle {
    color: white;
  }

  .red-selected {
    box-shadow: 0 0 8px 1px rgb(0, 140, 255); 
  }

  .icon-theme {
    color: color($colors, 'danger');
  }

  .button-theme {
    background-color: color($colors, 'danger');
    color: white;
  }

  .button-theme.activated {
    background-color: color($colors, 'danger');
  }

  ion-card {
    background: rgb(15, 15, 15);
  }

  .season-card-content {
    background: white;
    color: black;
  }
  
  .episode-info-title {
    color: white;
  }
}

ion-modal {
  .red-theme {

    height: inherit;

    .toolbar-title {
      color: white;
    }
    
    .toolbar-background {
      background-color: color($colors, 'danger');
    }

    .toolbar button {
      color: white;
    }
  }

  .modal-alert {
    position: absolute;
    top: 20%;
    left: 10%;
    display: block;
    width: 80%;
    height: 50%;
    box-shadow: 0px 0px 0px 10000px rgba(0, 0, 0, 0.5);
  }

}