<ion-card class="season">
  <button ion-button full class="season-card-header button-theme" (click)="toggleCard()">
    {{'EPISODES.SEASON' | translate}} {{episode.season}}
    <ion-icon icon-only name="{{expanded ? 'remove' : 'add'}}" class="icon-accordion"></ion-icon>
  </button>
  <ion-card-content class="season-card-content" #cardContent>
    <ion-list inset>
      <ion-item *ngFor="let ep of episode.list">
        <small>
          <strong>
            {{ep.title}}
          </strong>
        </small>
        <button ion-fab mini item-end class="button-theme" (click)="episodeInfo(ep)">
          <ion-icon name="information-circle"></ion-icon>
        </button>
        <button ion-fab mini item-end class="button-theme">
          <ion-icon name="play"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>