episodes {

    .season {
        margin: 0;
        padding: 0;
        width: 100%;
        margin-bottom: 10px;
    }

    .season-card-header {
        margin: 0;
        padding: 0;
        z-index: 1;
    }

    .card-content {
        padding: 0px 10px;
        max-height: 0;
        overflow: hidden;
    }

    .fab[mini] {
        width: 35px;
        height: 35px;
    }

    .fab ion-icon {
        font-size: 2rem;
    }

    .icon-accordion {
        position: relative;
        right: -25%;
    }
}